body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.5em 2em;
}

nav a {
    text-decoration: none;
    margin: 0 1em;
    color: #333;
}

nav a:hover {
    color: #007BFF;
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #f9f9f9;
}

.welcome-box, .posts-box {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center; /* 중앙 정렬 추가 */
}

.posts-list {
    width: 100%;
    border-collapse: collapse; /* 테이블 경계 간격 제거 */
}

.posts-list td, .posts-list th {
    text-align: center; /* 테이블 셀 내용 중앙 정렬 */
    padding: 10px;
    border: 1px solid #ddd; /* 셀 경계 추가 */
}

.form-group {
    margin-bottom: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.gender-group {
    display: flex;
    justify-content: space-between;
}

.gender-group label {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #007BFF;
    cursor: pointer;
}

.gender-group input[type="radio"] {
    display: none;
}

.gender-group label:hover {
    background-color: #007BFF;
    color: white;
}

textarea {
    width: 100% !important;
    height: 300px;
    box-sizing: border-box;
    resize: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    text-decoration: none;
    color: #007BFF;
}

.pagination span {
    background-color: #007BFF;
    color: white;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

